body{
    background-image:  url("homeback.jpg") ;
    background-size: cover;
    background-repeat:no-repeat;
    text-align: center;

}
#qoute{
    color:rgba(86, 14, 50, 0.74);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    text-align:center;
}
h1,h2{
    font-size:xx-large;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:rgba(86, 14, 50, 0.701);
}

button{
    color:rgba(86, 14, 50, 0.701);
    background-color:rgb(242, 176, 159) ;
    padding: 20px;
    width: 200px;
    height: auto;
    font-size:larger;
    border-color: rgb(250, 190, 225);
    margin:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form{
    text-align: center;
}
input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    background-color:rgb(240, 183, 160);
    color:rgb(108, 60, 36);
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
.save {  
    border-radius: 0%;
}

p{
    font-size: xx-large;
}