
* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

#contentofbooks{
     display: flex;
     flex-wrap: wrap;
     justify-content:center; 
     align-items: center;
     grid-template-columns: auto auto auto auto; 
     gap: 30px;
     align-items:center;
     margin-top: 15px;
     max-width:100%;
}
#toreaddiv{
  
    display: grid;
    gap:15px;
    align-items:center;
    justify-content: center;
}


.bookadded{
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgba(86, 14, 50, 0.701);
    background-color: rgba(242, 176, 159, 0.523);
    box-sizing: content-box;
    height: auto;
    width: 500px;
    border-style:groove;
    border-radius: 20px;
    border:5px  rgb(255, 206, 206) ;

}
.namebooks{
    font-size: x-large;
}

.book_details_container img{
    border-radius: 30px;
    height: 250px;
    width: 70%;
}
.books_div img{
    border-radius: 30px;
    opacity:0.8;
}
.books_div{
    border:0 rgba(242, 176, 159, 0.32);
    border-style:groove;

    border-radius: 30px;
    color:rgba(86, 14, 50, 0.941);
    font-size: large;
    background-color: rgba(242, 176, 159, 0.726);
    height: auto;
    width: 350px;
}
.book_details_container{
    border:0 rgb(255, 206, 206) ; 
    border-style:groove;
    border-radius: 30px;
    color:rgba(86, 14, 50, 0.941);
    font-size: larger;
    background-color: rgba(242, 176, 159, 0.523);
    height: auto;
    margin:auto;
    margin-bottom: 2%;
    width: 50%;
    padding: 10px;
}
#content{
    text-align: center;
    color: rgba(86, 14, 50, 0.701);
    font-size:xx-large;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 5px
}

.p1,.p2,.p3,.p4,.p5,.p6,.p7{
    font-weight: bold;
    font-style: italic;
    color:rgb(86, 14, 50) ;
    font-size: larger;
}

.d1,.d2,.d3,.d4,.d5,.d6,.d7{
    color:rgba(86, 14, 50, 0.715) ;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}


body{
    background-image:  url("homeback.jpg") ;
    background-size: cover;
    background-repeat:no-repeat;
    text-align: center;
    max-width: 100%;
}

button, #logout, #reviewbtn,#logout2{
    color:rgba(86, 14, 50, 0.701);
    background-color:rgb(242, 176, 159) ;
    padding: 20px;
    width: 200px;
    height: auto;
    font-size:medium;
    border:0;
    border-radius: 5px;
    margin:5px;}


input{
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        text-align: center;
        background-color:rgb(240, 183, 160);
        color:rgb(108, 60, 36);
        font-size: large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     }  
#reviewtxt{
    background-color:rgb(240, 183, 160);
    color:rgb(108, 60, 36);
    border: 0;
    border-radius: 20px;
    text-align: center;
    width: 50%;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
} 
#bookname,#bookauthor,#booktype,#bookdescription,#bookimage{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    background-color:rgb(240, 183, 160);
    color:rgb(108, 60, 36);
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

} 
#bookpublishdate,#addingbook    
{
    padding: 15px 20px;
    color:rgb(108, 60, 36);
    width: 25%;
    color:rgba(86, 14, 50, 0.701);
    background-color:rgb(240, 183, 160);
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

 #search1{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    background-color:rgb(240, 183, 160);
    border:0;
    border-radius: 20px;
    color:rgb(108, 60, 36);
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 } 
 #search2 {
    color:rgba(86, 14, 50, 0.701);
    background-color:rgb(240, 183, 160) ;
    padding: 10px;
    width: 100px;
    font-size:large;
    border:0;
    border-radius: 5px;
    margin:20px;
 }
 
 h1{
    font-size:xx-large;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:rgba(86, 14, 50, 0.701);
 }
