<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Book</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}">

</head>
<body>
    <form action="/confirm_book" method="get" >
        <input type="text" placeholder="Name " id="bookname" name="bookname"required>
        <input type="text" placeholder="Book author " id="bookauthor" name="bookauthor" required>
        <input type="text" placeholder="Type " id="booktype" name="booktype"required >
        <input type="text" placeholder="Description " id="bookdescription" name="bookdescription" required>
        <input type="url" placeholder="image url" name="imgurl" id="bookimage" required>

        <div id="alone">
        <input type="date" placeholder="Publish date " id="bookpublishdate" name="bookpublishdate" required>
        <input type="submit" value="Enter" id="addingbook">
        </div>
    </form>
    <a href="/books">
        <button>Back to Books page</button>
    </a>

</body>
</html>
