<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add To Read List</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}">

</head>
<body>
    <h1> This book has been added to your read List </h1>
    <a href="/books">
        <button>Add another Book</button>
      </a>

      <a href="/toread">
        <button>Go to your read list</button>
      </a>
</body>
</html>   