<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

</head>
<body>
    
    <h1>Try Again</h1>
    <a href="/login" id="loginutton">
        <button >Login</button>
    </a>
    <h1>Or sign up</h1>
    <a href="/signup" id="signupbutton">
        <button >Signup</button>
    </a>
   

    <script src="static/javascriptfiles/logincheck.js"></script>  
</body>
</html>