<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">

</head>
<body>
    <h1> Welcome to log in page</h1>
    <form action="/logincheck" method="get">
        <input type="email" placeholder="Enter your email: " class="email" name="email" required>

        <input type="text" placeholder="Enter your user name: " class="username" name="username"  required maxlength="15">

        <input type="password" placeholder="Enter your password: " class="password" name="pass"  required maxlength="12" minlength="4">

        <input type="submit" value="Enter" class="save">
    </form>
        


    <script src="static/javascriptfiles/signup_in.js"></script>
</body>
</html>