<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign up </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

 <!--- <script src="firstdict.js"></script>-->
</head>
<body>
    <h1> Add new admin </h1>
  <form action="/newadmincheck" method="get"> 
 
        <input type="email" placeholder="Email: " id="addemail" name="addemail:" required>
        <input type="text" placeholder="Name: " id="adduser" name ="adduser:" required>
        <input type="password" placeholder="Password: " id="addpassword" name="addpass:" required>
        <input type="submit" value="Enter" id="save">

 </form>

 <script src="{{ url_for('static', filename='javascriptfiles/signup.js') }}"></script>


</body>
</html>