<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Not User</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">

</head>
<body>
    <h1>Sorry, you can't go further <br> you need to log in or sign up</h1>
    <a href="/login">
        <button>Do you have an account?</button>
    </a> 
    <a href="/signup">
        <button>or signup?</button>
    </a> 
</body>
</html>