<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Removed</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}">

</head>
<body>
    <h1> This Book is deleted from your Read List</h1>
    <h1> we hope you enjoyed this book ! </h1>
    <a href="/toread">
        <button>Back to your Read list</button>
    </a>
    <a href="/books">
        <button>Back to Books Page</button>
    </a>  
</body>
</html>    