<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign up </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

 <!--- <script src="firstdict.js"></script>-->
</head>
<body>
    <h1> Welcome to sign up page</h1>
  <form action="/signupcheck" method="get"> 
 
        <input type="email" placeholder="Enter your email: " id="addemail" name="addemail:">
        <input type="text" placeholder="Enter your user name: " id="adduser" name ="adduser:">
        <input type="password" placeholder="Enter your password: " id="addpassword" name="addpass:">
        <input type="submit" value="Enter" id="save">

 </form>

 <!-- <script src="/static/javascriptfiles/signup.js"></script> -->


</body>
</html>